{% extends "layout_3_col.html" %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
<div class="wrapper">

        <!-- CONTAINER -->
        <div class="container no-padding-bottom text-center">
            <ul class="nav-category">
                <li><a href="#all" class="filter active" data-filter="*">All Works</a></li>
                <li><a href="#branding" class="filter" data-filter=".branding">Branding</a></li>
                <li><a href="#logotype" class="filter" data-filter=".logotype">Logotypes</a></li>
                <li><a href="#graphics" class="filter" data-filter=".graphics">Graphics</a></li>
            </ul>
        </div>
        <!-- /.container -->
    
        <!-- CONTAINER -->
        <div class="container mix-list">
            <div class="col-sm-4 col-xs-6 mix graphics">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-1.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Retro Metal Camera <small>Graphics</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix logotype branding">
                <div class="fig slider oneslider">
                    <ul data-auto="true" data-fx="slide" data-timeout="3000">
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-2-1.jpg" alt="">
    
                        </li>
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-2-2.jpg" alt="">
                        </li>
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-2-3.jpg" alt="">
                        </li>
                    </ul>
                    <nav class="nav-pages"></nav>
                    <a class="mask magnific-video" href="https://vimeo.com/45830194" title="Logo Vine Bottles">
                        <img src="../../../../images/ico-btn-video.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix branding graphics">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-3.jpg" alt="">
                    <a href="" data-gallery="http://gatwick.aisconverse.com/images/portfolio/work-1.jpg, http://gatwick.aisconverse.com/images/portfolio/work-2.jpg, http://gatwick.aisconverse.com/images/portfolio/work-3.jpg, http://gatwick.aisconverse.com/images/portfolio/work-4.jpg, http://gatwick.aisconverse.com/images/portfolio/work-5.jpg" class="mask magnific-gallery" title="Wood Branding Style">
                        <img src="../../../../images/ico-btn-gallery.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix graphics">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-4.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Eco Retro Bag <small>Graphics</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix logotype">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-5.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Vinil Record Mockup <small>Logotypes</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix graphics">
                <div class="fig slider oneslider">
                    <ul data-auto="true" data-fx="slide" data-timeout="4000">
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-msnr-sl-4.jpg" alt="">
    
                        </li>
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-msnr-sl-5.jpg" alt="">
                        </li>
                        <li>
                            <img src="http://gatwick.aisconverse.com/images/portfolio/po-msnr-sl-6.jpg" alt="">
                        </li>
                    </ul>
                    <nav class="nav-pages"></nav>
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Outdoor Advertising <small>Graphics</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix branding logotype">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-7.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Flat Branding Style <small>Branding, Logotypes</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix graphics logotype">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-8.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Shirt Back Mockup <small>Logotypes, Graphics</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix branding">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-9.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Modern Branding Style <small>Branding</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix branding">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-10.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Black Branding <small>Branding</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix logotype branding">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-11.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Wood Engraved <small>Logotypes, Branding</small></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 mix logotype graphics">
                <div class="fig">
                    <img src="http://gatwick.aisconverse.com/images/portfolio/po-md-12.jpg" alt="">
                    <a href="../../portfolio/single-work/portfolio_singlework_slider_fullwidth.html.html" class="mask">
                        <h4>Yellow Branding <small>Logotypes, Graphics</small></h4>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock content %}
