{% extends "layout_3_col.html" %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
<div class="fullscreen content-absolute">
    <div class="container countdown-page middle text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="animate">We are working on something awesome.</p>
            <a href="#subscribe" class="internal btn btn-default animate">Start shopping!</a>
        </div>
    </div>
</div>

<!-- SLIDER -->
<div class="slider fullscreen oneslider">
    <ul data-auto="true">
        <li class="bg-sl-fscreen-3 overlay overlay-night pattern pattern-lines"></li>
        <li class="bg-sl-fscreen-2 overlay overlay-night pattern pattern-lines"></li>
        <li class="bg-sl-fscreen-4 overlay overlay-night pattern pattern-lines"></li>
    </ul>
    <nav class="nav-pages"></nav>
</div>
{% endblock content %}
