{% load reviews_tags %}
{% load i18n %}


<div class="rating-wrap">
    {% if product.rating != None %}
        <p class="star-rating {{ product.rating|as_stars }}">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
    
            &nbsp;
    {% else %}
        <p>
    {% endif %}
        </p>
    <span class="raty-count">
            {% blocktrans count product.num_approved_reviews as num_reviews %}
                {{ num_reviews }} review
            {% plural %}
                {{ num_reviews }} reviews
            {% endblocktrans %}
    </span>
    
    {% if product|is_review_permitted:user %}
        <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="add-review badge">
            {% trans "Add" %}
        </a>
    {% endif %}
    
</div>
