{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.images.all %}

    {% if all_images|length > 1 %}  

    <div class="col-sm-6 text-center magnific-wrap">
            <div class="img-large slider oneslider">
                <ul>
                    {% for image in all_images %}
                        <li>
                            <a class="magnific">
                                {% thumbnail image.original "440x400" upscale=False as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                                {% endthumbnail %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="product-nav">
                    <a href="" class="product-prev arrow prev"><i></i></a>
                    <div class="product-count"></div>
                    <a href="" class="product-next arrow next"><i></i></a>
                </div>
            </div>
        </div>

    {% endif %}

{% endwith %}


